<a href="https://colab.research.google.com/github/Sergio-Tolaba/25_pandasETL/blob/main/pandas_trat_manip_datos_Ser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# PROBLEMA DEL NEGOCIO

## Entiendo el problema

In [2]:
import pandas as pd

In [6]:
datos = pd.read_json('/content/drive/MyDrive/25_pandasETL/data/datos_hosting.json')
datos

FileNotFoundError: File /content/drive/MyDrive/25_pandasETL/data/datos_hosting.json does not exist

In [ ]:
datos = pd.json_normalize(datos['info_inmuebles'])
datos.head()

In [ ]:
datos.info() #<class 'pandas.core.frame.DataFrame'> // Hay muchas listas y diccionarios

In [ ]:
columnas = list(datos.columns)
columnas

In [ ]:
datos =datos.explode(columnas[3:]) #.explode se desglosaron las listas
datos

In [ ]:
# Si quiero que esta tabla sea mi nuevo df hay que resetear el indice ya los que tengo se repiten y eso no está bien
datos.reset_index(drop=True, inplace=True)
datos

In [ ]:
datos.info() # cuando pandas no sabe el tipo de valores pone objet pero no todos son object (str si), hay numeros

In [ ]:
# Para transformar object a int o float necesitamos numpy
import numpy as np

In [ ]:
datos['max_hospedes']=datos['max_hospedes'].astype(np.int64) # Todos los valores tienen que ser enteros, si hay uno que es str etc =>Error
datos.info()

In [ ]:
# Otras columnas con todos números enteros=>cantidad_...
col_cantidad = ['cantidad_baños', 'cantidad_cuartos','cantidad_camas']

In [ ]:
datos[col_cantidad]=datos[col_cantidad].astype(np.int64)
datos.info()

In [ ]:
datos['evaluacion_general']=datos['evaluacion_general'].astype(np.float64)
datos.info()

## 06 Números en string
* Saco todo lo que no es número y si figura con separador de miles o con coma como separador decimal. Tiene que quedar el número con punto y el decimal
* Luego paso el str a float64

In [ ]:
# A la columna $Precios, le elimino $, le elimino serarador de miles (,) y los espacios
datos['precio'] = datos['precio'].apply(lambda x: x.replace('$','').replace(',','').strip()) #.apply sólo para 1 columna(=serie)
datos['precio'] = datos['precio'].astype(np.float64)
datos.info()

In [ ]:
datos['precio']

## 08 Transformación en múltiples columnas

In [ ]:
# Inspeccionar dos o más columnas=> [[]] ya no es una serie como una columna, es un df => .applymap
datos[['cuota_deposito', 'cuota_limpieza']]=datos[['cuota_deposito', 'cuota_limpieza']].applymap(lambda x: x.replace('$','').replace(',','').strip())

In [ ]:
datos[['cuota_deposito', 'cuota_limpieza']]=datos[['cuota_deposito', 'cuota_limpieza']].astype(np.float64)
datos.info()

## 03. Datos de texto - 02 El problema del texto
* Tokenización: separar cada palabra.

In [ ]:
# Tomamos una columna con textos y vemos la serie
datos['descripcion local']